body{
    border-width: 0px;
    padding: 0px;
    margin:0px;
}

#div_bili_zy{
    width: 980px;
    height: 2200px;
    /*background-color: papayawhip;*/
    margin-left: 180px;
}
#gc{
    float: left;
}
/*推广………………………………………………………………………………………………*/
/*#div_implement{*/
/*width: 980px;*/
/*height: 228px;*/
/*background-color: white;*/
/*padding-bottom: 15px;*/
/*}*/
/*#div_implement_left{*/
/*width: 720px;*/
/*height: 213px;*/
/*float: left;*/
/*!*background-color: lavender;*!*/
/*padding-bottom: 15px;*/
/*}*/
/*#div_implement_left_top{*/
/*width: 720px;*/
/*height: 45px;*/
/*padding-bottom: 15px;*/
/*}*/
/*#div_implement_right{*/
/*width: 260px;*/
/*height: 194px;*/
/*float: right;*/
/*padding-bottom: 15px;*/
/*}*/
/*番剧主体——————————————————————————————————*/
/*#div_fanju{
    width: 980px;
    height: 400px;
    background-color: aliceblue;
}
#div_fanju_comlift{
    width: 720px;
    height: 400px;
    float: left;
}
#div_fanju_comright{
    width: 260px;
    height: 400px;
    float: right;
}*/
/*评论————————————————————————————————————*/
#div_common{
    float: left;
    width: 638px;
    height: 1100px;
    /*background-color: #a6cbe7;*/

}
#div_common_head{
    width: 638px;
    height: 37px;
    /*background-color: #337ab7;*/
}
#div_common_view{
    font: 16px 微软雅黑;
    float: left;
}
#span_common_head_left{
    font: 20px 微软雅黑;
    float: left;
}
#span_common_head_right{
    float: right;
    position: relative;
    top: 10px;
}
#span_common_ys{
    font: 15px 微软雅黑;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
/*圆形头像大号*/
.sa_img{
    width: 48px;
    height: 48px;
    position: relative;
    left: 20px;
    top: 10px;
    /*显示圆形头像*/
    display:inline-block;
    margin:5px auto;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border:2px solid #fff;
    box-shadow:0 0 4px #ccc;overflow:hidden;
}
/*圆形头像小号*/
.sa_img_min{
    width: 35px;
    height: 35px;
    position: relative;
    left: 20px;
    top: 20px;
    /*显示圆形头像*/
    display:inline-block;
    margin:5px auto;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border:2px solid #fff;
    box-shadow:0 0 4px #ccc;overflow:hidden;
}

.div_common_com{
    width: 638px;
    height: 99px;
    margin-top: 20px;
    /*background-color: lavender;*/
}

.div_common_com2{
    width: 638px;
    height: 99px;
    margin-top: 20px;
}

.div_hf{
    font: 15px 微软雅黑;
    color: #444444;
    line-height: 25px;
}
.area_com{
    width: 450px;
    height: 60px;
    position: relative;
    left: 70px;
    resize: none;
}
.area_coms{
    width: 400px;
    height: 60px;
    position: relative;
    left: 70px;
    top: 10px;
    resize: none;
}

.span_line{
    font: 16px 微软雅黑;
    color: #337ab7;
    line-height: 20px;
    padding: 10px;
}
#button_com{
    float: right;
    position: relative;
    left: -30px;
    top: -30px;
}

.sdiv_sa_view{
    margin: 30px 30px 30px 30px;
}

.span_view_id{
    padding-right: 20px;
}
/*评论时间*/
.span_view_time{
    padding-right: 20px;
}
/*回复时间*/
.span_view_times{
    margin-left: 90px;
    padding-right: 20px;
}
.span_div_up{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../image/icons-comment.png) no-repeat;
    background-position: -153px -25px;
    position: relative;
    top: 11px;
    padding-left: 20px;
    padding-top: -20px;
    cursor:pointer;
}
.span_div_up:hover{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../image/icons-comment.png) no-repeat;
    background-position: -218px -25px;
    cursor:pointer;
}
.sa_view_dz{
    color: #888;
    margin-left: 35px;
}
.sa_view_dz:hover{
    color: #888;
    text-decoration: none;

}
.span_div_down{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../image/icons-comment.png) no-repeat;
    background-position: -153px -153px;
    position: relative;
    top: 11px;
    padding-left: 20px;
    padding-top: -20px;
    cursor:pointer;
}
.span_div_down:hover{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../image/icons-comment.png) no-repeat;
    background-position: -217px -153px;
    cursor:pointer;
}
.span_view_hf{
    color: #888;
    margin-left: 30px;
}
.span_view_hf:hover{
    color: blue;
    background-color: #f0f3ef;
    cursor:pointer;
}
.span_view_hf a:hover{
    text-decoration: none;
}

.box{
    position: relative;
    left: 600px;
    top: -66px;
    width: 60px;
    height: 60px;
    line-height: 25px;
    padding-top: 5px;
    background-color: #b8c0cc;
    color: #fff;
    text-align: center;
}
.boxs{
    position: relative;
    left: 550px;
    top: -56px;
    width: 60px;
    height: 60px;
    line-height: 25px;
    padding-top: 5px;
    background-color: #b8c0cc;
    color: #fff;
    text-align: center;
}
.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
}
#video_header{
    width: 980px;
}
#video_message{
    height: 160px;
    padding: 5px 0 8px;
    float: left;
    width: 640px;
    position: relative;
    overflow: hidden;
}
#video_message_title{
    margin-right: 80px;
    color: #525659;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
    padding: 8px 0;
    font-size: 18px;
}
#video_message_middle{
    position: relative;
    width: 100%;
    height: 16px;
    line-height: 16px;
    color: #666;
    font-size: 12px;
    margin-top: 6px;
}
.video_message_type{
    line-height: 16px;
}
.video_message_type a{
    color: #99a2aa;
    font-size: 100%;
    transition: color .2s;
}
.video_message_type a:hover{
    color: #00a1d6;
}
#video_message_middle time{
    color: #99a2aa;
    margin-left: 32px;
}
.video_message_data span{
    display: inline-block;
}
.video_data_1{
    margin-right: 30px;
}
.video_data_1:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-top: -3px;
    margin-right: 3px;
    background: url("../image/icons.png");
}
.video_data_play:before{
    background-position: -659px -210px;
}
.video_data_dm:before{
    background-position: -659px -275px;
}
.video_data_line{
    border-left: 1px solid #eee;
    height: 20px;
    vertical-align: middle;
}
.video_data_2{
    margin-right: 5px;
}
.video_data_coin{
    margin-right: 5px;
}
.video_data_2 i{
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 60px;
    margin-top: -3px;
    margin-right: 3px;
}
.video_data_coin_move{
    background: url("../image/video_coin_move.png");
}
.video_data_collect_move{
    background: url("../image/video_collect_move.png");
}
#video_up{
    width: 315px;
    margin: 15px 0;
    float: right;
    background: #fff;
    position: relative;
}
#video_up_image{
    width: 68px;
    height: 68px;
    position: relative;
    float: left;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}
#video_up_message{
    width: 226px;
    margin-left: 89px;
}
#video_up_name{
    width: 226px;
    height: 22px;
}
#video_up_name span{
    width: 226px;
    display: inline-block;
    float: left;
    max-width: 150px;
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 20px;
    color: #00a1d6;
    white-space: nowrap;
}
#video_up_mark{
    word-break: break-all;
    line-height: 20px;
    min-height: 40px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    position: relative;
    overflow: hidden;
}
#video_up_contribution{
    color: #99a2aa;
    margin: 3px 0;
    height: 23px;
    width: 226px;
}
#video_up_contribution span{
    float: left;
    width: 100px;
    line-height: 23px;
}
#video_up_focus{
    margin-top: 10px;
}
.video_up_focus_button{
    padding: 4px 53px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background: #00a1d6;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s;
    user-select: none;
    border: 1px solid #00a1d6;
    text-align: center;
    cursor: pointer;
}
.video_button_gz{
    color: white;
    line-height: 20px;
    display: block;
}
.video_up_focus_button:hover{
    background:#00c1d6;
}
.index_islogin {
    display: none;
}
#video_recommend{
    float: right;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 250px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 450px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#video_recommend_list_titles{
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    height: 42px;
}
.video_show_list_title{
    box-sizing: border-box;
    line-height: 44px;
    height: 40px;
    white-space: nowrap;
    position: relative;
    font-size: 16px;
    color: black;
    padding: 0 15px;
    text-align: center;
    outline: none;
    user-select: none;
    display: inline-block;
    overflow: visible;
    text-align: center;
}
.video_recommend_list{
    height: 105px;
    margin-bottom: 10px;
    padding: 10px 0 0 5px;
}
.video_recommend_list_image{
    float: left;
    width: 150px;
    height: 100px;
}
.video_recommend_list_title{
    float: right;
    display: inline-block;
    width: 90px;
    height: 100px;
    font-size: 12px;
    overflow: hidden;
    white-space: normal;
}