body{
    margin: 0px;
    padding: 0px;
}

/*头部*/
#content{
    width: 1098px;
    height: 560px;
    margin-left: 120px;
    border:  0px;
    border: 1px solid #e1e2e5;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
}
#div_centre_head{
    width: 100%;
    height: 200px;
    background: url("../image/usercenter_head_background.webp") no-repeat;
    background-position: 50%;
    background-size: cover;
}
#div_menu{
    background: #a6cbe7;
}
#head_top{
    width: 100%;
    height: 100px;
}
#head_bottom{
    width: 100%;
    height: 84px;
}
.div_userimg{
    width: 60px;
    height: 60px;
    position: relative;
    left: 20px;
    top: 10px;
    /*显示圆形头像*/
    display:inline-block;
    margin:5px auto;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border:2px solid #f0f3ef;
    box-shadow:0 0 4px #ccc;overflow:hidden;
}
#user_span_font{
    font: 20px 微软雅黑;
    color: white;
    margin-left: 30px;
    font-weight:bold;
    position: relative;
    left: 30px;
    top: -40px;
}
#input_qm{
    font: 15px 微软雅黑;
    width: 600px;
    height: 30px;
    background:transparent;
    border:0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    left: 130px;
    top: -30px;
}
#div_li_style{
    height: 360px;
    background-color: #fafafa;
    border-right:1px solid #ddd;
}
#div_li_style li{
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    height: 68px;
    line-height: 50px;
    background-color: #fafafa;
}
#div_li_style li a{
    color: black;
    font-size: 14px;
}
#div_cencent{
    width: 800px;
    height: 150px;
    font: 15px 微软雅黑;
    position: relative;
    left: 230px;
    top: -330px;
}
#div_cencent span{
   position: relative;
    left: -100px;
    line-height: 30px;
}
#span_nc{
    margin-left: -210px;
}
#span_id{
    margin-left: -450px;
    margin-top: 10px;
}
#span_sex{
    margin-left: -300px;
    position: relative;
    top: 50px;
}
#input_cencent_nc{
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    width: 250px;
    height: 30px;
    font: 15px 微软雅黑;
    position: relative;
    left: 35px;
}
#area_com{
    width: 450px;
    height: 60px;
    resize: none;
    position: relative;
    top: 40px;
    left: 10px;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
}
#sex-man{
    background: url("../image/sex01.png") no-repeat;
    background-size: 20px 40px;
    display: inline-block;
    line-height: 20px;
    text-indent: 20px;
}
#div_upload_image{
    overflow: hidden;
    width: 800px;
    position: relative;
    left: 190px;
    top: -360px;
}
#header{
    position: relative;
}
#header_nav{
    width: 1040px;
    height: 50px;
    margin: 0px 179.5px;
}
#save_button{
    background: #00a1d6;
    border-color: #00a1d6;;
}
#save_button:hover{
    background-color: #20a0ff;
}
#div_show_myfans{
    display: none;
    position: relative;
    top: -337px;
    left: 315px;
    width: 580px;
    border: 1px silver solid;
    border-radius: 4px;
}
.myfans{
    height: 85px;
    width: 580px;
    border-bottom: 1px silver solid;
}
.myfan_image{
    height: 85px;
    width: 85px;
    float: left;
    margin:0 52px;
    border-right: 1px silver solid;
}
.div_show_myfan_title{
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-right: 1px silver solid;
    font-size: 14px;
}
.mufan_nickname{
    float: left;
    height: 85px;
    width: 194px;
    display: inline-block;
    border-left: 1px silver solid;
    line-height: 85px;
    text-align: center;
    font-size: 16px;

}
.mufan_username{
    float: left;
    height: 85px;
    width: 194px;
    display: inline-block;
    border-left: 1px silver solid;
    line-height: 85px;
    text-align: center;
    font-size: 16px;
}